@use '../../scss/' as *;

.toggle-mode {
    //css toggle mode
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.2rem 0.4rem;
    width: 56px;
    height: 24px;
    border-radius: 20px;

    box-shadow: $box-shadow;
    background-color: $blue;

    // check theme
    &__check {
        display: none;
    }
    &__check:checked ~ &__icon {
        transform: translateX(28px);
    }
    &__check:checked ~ &__circle {
        transform: translateX(-28px);
    }

    //css icon mode
    &__icon {
        color: $yellow;
        display: flex;
        align-items: center;
        transition: $transition;
        font-size: 2rem;
    }

    //css circle mode
    &__circle {
        width: 20px;
        height: 20px;
        background-color: $while;
        border-radius: 50%;
        transition: $transition;
    }
}
