$while: #fff;
$blue: #2b6da6;
$blue2: rgb(1, 147, 207);
$yellow: #fbde3c;

$bg-darkthem: rgba(7, 49, 85, 0.527);

$text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
$box-shadow: 0 4px 10px rgba(0, 0, 0.3);
$shadow-bg: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

$transition: all 0.2s ease;
